h1 {
    font-size: 120px;
    font-weight: 700;
    color: white;
    text-align: center;
}

p { 
    height: 120px;
    min-width: 120px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

#bg_red {
    background-color: red;
}

#bg_green {
    background-color: green;
}

#bg_yellow {
    background-color: yellow;
}

#bg_lightblue {
    background-color: rgb(16, 119, 209);
}